.board-column {
    width: 287px;
    margin: 20px;
    /* padding: 5px; */
    /* border: 1px solid black; */
    background: rgb(34,34,34);
background: linear-gradient(0deg, rgba(34,34,34,0) 0%, rgba(34,34,34,1) 100%);
background-position: center 32px;;
}

.board-column__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}


.board-column__title h4 {
    font-size: 1.1em;
}

.board-column__title__plusBtn {
    background-color: #1C1C1C;
    border: none;
    color: rgb(234, 234, 234, 0.5);
    cursor: pointer;
}

.board-column__title__plusBtn:hover {
    color: rgb(234, 234, 234, 1);

}