.footer {
  background-color: #262526;
  color: #EAEAEA;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.footer__link {
  text-decoration: none;
 
    color: #EAEAEA;
}

.footer__link:hover {
  color: rgb(45, 197, 250);
}
