.navbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262526;
  color: #EAEAEA;
}

.navbar__left {
  /* width: 30vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
