.navbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(42, 160, 187);
}

.navbar__left {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
