.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262526;
  color: #EAEAEA;
}

.navbar__left {
  /* width: 30vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__left h3 {
  padding-left: 20px;
  color: rgb(45, 197, 250);
  font-size: 1.7em;
}

.navbar__logo {
  height: 40px;
  padding-right: 20px;
}