/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

/* ====== GRID APP MANAGMENT ========= */

.app {
  display: grid;
  grid-template-areas:
    'navbar'
    'kanban'
    'sidebar'
    'footer';
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* assign columns to grid areas */
.app > .navbar {
  grid-area: navbar;
  background: #f97171;
}
.app > .kanban {
  grid-area: kanban;
  background: #5994a2;
}
.app > .sidebar {
  grid-area: sidebar;
  background: #f5d55f;
}
.app > .footer {
  grid-area: footer;
  background: #72f181;
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .app {
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas:
      'navbar navbar navbar'
      'sidebar kanban kanban'
      'footer footer footer';
  }
}
/* ===== End of Grid app management  */
